body {
  background-color: #294759;
  margin: 0;
  padding: 0;
  font-family: Verdana, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
}
body, a:link, a:visited {
  color: #333;
}
main {
  width: 700px;
  margin: 5em auto;
  padding: 25px 50px 25px 50px;
  background-color: #f6eddf;
  border-radius: 1em;
}
h1, h1+ol, h2+p, h2+ul {
  margin-top: 0px;
}
h1 {
  line-height: 1.2;
}
h1, h2 {
  margin-bottom: 0px;
}
@media (max-width: 800px) {
  main {
    width: auto;
    padding: 25px 50px 25px 50px;
  }
}